

/* Allows for for scroll down when click on hyperlink  */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #EDEDE9;
}

/* Header */
.title {
    font-size: 5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    margin-left: 20px;
    margin-right: 20px;
    color: #403d39;
  }

/* flex box for the nav bar */
.navigation {
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
}

/* takes away underline of hyperlinks */
a {
    text-decoration: none;
}

/* This the transition and charateristics of the navigation buttons */
.button {
    color: black;
    padding: 8px 20px;
    margin: 3%;
    border-radius: 7px;
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #d5bdaf;
    transition: ease-out 1s;
  }

.nav:hover {
    box-shadow: inset 0 100px 0 0 black;
    color: white;
  }

/* Large self portrait  */
.self-portrait {
    display: block; 
    width: 100%;
    margin: auto;
    border-radius: 10px;
}

/* responsible for the sub titles */
h2 {
    font-size: 3vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 3px;
    margin: 5%;
    border-bottom: solid #000000;
    color: #403d39;
}


/* About me section */
#information {
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    bottom: 600px;
    padding: 10%;
}

/* Selectors for application 1*/
.app1 {
    width: 97%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    opacity: 1;
    transition: all ease 1s;
    cursor: pointer;
}

.app1:hover {
    box-shadow: 0 0 10px black;
    opacity: 0.6;
  }

/* Selectors for applications 2/3/4 */
.box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;

}

/* anchor selector for images */
.box a {
    display: flex;
    width: 100%;
    justify-content: center;

}

.box img {
    display: block;
    width: 95%;
    border-radius: 10px;
    opacity: 1;
    transition: all ease 1s;
    cursor: pointer;
}

.box img:hover {
    box-shadow: 0 0 10px black;
    opacity: 0.6;
}

/* Footer selector for the contact me section */
footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact_information {
    font-size: 2vw;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

/* Wraps images into columns when shrunk down */
@media only screen and (max-width: 768px) {
.navigation {
    justify-content: space-between;
}

    .box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box img {
    margin: 15px;
    width: 70%;
    border-radius: 10px;
}

.button {
    font-size: small;
    
}
.app1 {
    width: 70%;
    bottom: 270px;
}
.contact_information {
    flex-direction: column;
    align-items: center;
}
}